// 6PIXEL APP CODE
@import "base/var";
$header: 36px;

.app {
  width: 100%;
  background: white;
}

.app-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;

  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  height: $header;
  padding: 12px 24px;
  background: white;
  border-bottom: 1px solid $greyscale-08;

  &__logo {
    flex: 1;
    font-size: 1rem;
    font-weight: 300;
    color: black;
  }
}

.app-view {
  margin: #{$header} auto 0px;
}

.view {
  display: flex;
  min-height: calc(100vh - #{$header});

  &__editor {
    flex: 0 0 420px;
    background-color: $greyscale-10;
    padding: 12px;
    overflow: hidden;
  }
  &__display {
    flex: 1 1 auto;
    padding: 12px;
  }
}

// FOOTER
.app-footer {
  padding: 48px;
  background: rgba(0,0,0,1);
  color: white;
  text-align: center;

  p {
    font-size: .75rem;
  }
}
