// THIS IS GRID LAYOUT
@import "base/var";
.grid {
  position: relative;

  &__editor {
    padding: 24px;
  }
}

.grid-display {
  position: relative;
  background-color: $greyscale-03;
  min-height: 600px;
  margin-left: 0px;
  transition: margin-left .5s ease-in-out;

  &.item-active {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  &__item {
    background-color: $brand-primary;
    padding: 6px;
  }

  &__item-edit {
    background-color: $brand-tertiary;
    padding: 6px;
  }
}
.grid-wrapper {
  position: relative;

  .grid-display:nth-child(2) {
    background-color: transparent;
  }
}

.editor-base {
  margin-top: 12px;
  padding-top: 12px;
  border-top: 1px solid $greyscale-08;

  & > div {
    margin-bottom: 12px;
    padding-bottom: 12px;
    border-bottom: 1px solid $greyscale-08;
  }
}
